<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <app-navbar></app-navbar>
  <main class="mdl-layout__content">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--2-col"></div>
      <div class="mdl-cell mdl-cell--8-col">
        <div class="mdl-grid mdl-grid--nesting">
          <div class="mdl-cell mdl-cell--8-col"></div>
          <div class="mdl-cell mdl-cell--2-col">
		  
		  <!--input id='fileid' type='file' name='filename' hidden/-->
           <!--<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="filebutton">
			Import
            </button>-->
		<input hidden type="file" #uploader (change)="uploadFile($event)" />
		<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="uploader.click()">
		Import
		</button>
			
          </div>
          <div class="mdl-cell mdl-cell--2-col">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" [routerLink]="['/add']">
              Add
            </button>
			
          </div>
        </div>
        <div class="mdl-grid mdl-grid--nesting"></div>
        <div class="mdl-grid mdl-grid--nesting"></div>
        <div class="mdl-grid mdl-grid--nesting">
          <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp fullwidth ">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Template Name</th>
                <th class="mdl-data-table__cell--non-numeric">Edit</th>
                <th class="mdl-data-table__cell--non-numeric">Delete</th>
                <th class="mdl-data-table__cell--non-numeric">Test</th>
                <th class="mdl-data-table__cell--non-numeric">API</th>
              </tr>
            </thead>
			
            <tbody *ngFor="let template of template_data">
			 <tr *ngFor="let t of template; let i=index">
			 
			 <td class="mdl-data-table__cell--non-numeric">{{t}}</td>
                <td class="mdl-data-table__cell--non-numeric">
                  <a (click)="editTemplate('template-1')">Edit</a>
                </td>
				
                <td class="mdl-data-table__cell--non-numeric"><a (click)="deleteRow(i)">Delete</a></td>
                <td class="mdl-data-table__cell--non-numeric">Test</td>
                <td class="mdl-data-table__cell--non-numeric">API</td>
			</tr>
            </tbody>
          </table>

        </div>
      </div>
      <div class="mdl-cell mdl-cell--2-col"></div>
    </div>

  </main>
</div>
